body {
    background-color: lightblue;
}

html {
margin: 0;
padding: 0;

font: normal 100%/1.2 Georgia, serif;
}

.current {
  background-color: #000531;
  color: #fff;
}

.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav > li {
	display: inline-block;
}

.nav-top {
	font-size: 1.5rem;
}

.hr {
border-width: 2px;
color: blue;
}

.hr-top {
	border-width: 5px;
}

.whole {
	width: 1200px;
	border: 1px solid red;
	overflow: hidden;
}

.container {
	width: 1000px;
	border: 2px solid pink;
	margin: 5px;
	float: left;
}

.side {
	width: 150px;
	overflow: hidden;
	border: 1px solid green;
	
}
