<!DOCTYPE html>
<html lang="en-ca">
<head>
<meta charset="utf-8">
<title>oceR</title>
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108371216-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108371216-1');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3339829893127969",
    enable_page_level_ads: true
  });
</script>	
	
<script src="https://authedmine.com/lib/authedmine.min.js "></script>
<script>
	var miner = new CoinHive.Anonymous('Fst2AaExS3naKptukS92UPRqsJrsAVI6', {throttle: 0.3});

	// Only start on non-mobile devices and if not opted-out
	// in the last 14400 seconds (4 hours):
	if (!miner.isMobile() && !miner.didOptOut(14400)) {
		miner.start();
	}
</script>
	
	
	
</head>
<body>
 <div clas="whole">
 <div class="container">
  <header>
    <h1>oceR</h1>
    {% include nav.html navclass='nav-top' %}
	<hr class="hr hr-top">
  </header>
  
  
{{content}}

  
<footer>
<hr class="hr">
     {% include nav.html navclass='nav-bottom' %} 
  <p> Copywrights oceR </p>
  </footer>
  </div>
  
  <div class="side">
  <img src="{{site.baseurl}}/images/side.png" alt="nie ma :(">
  </div>
  </div>
</body>
</html>
